In [ ]:
import pandas as pd
import numpy as np
from IPython.display import Image

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
pd.__version__

# Intro

Pandas' groupby is undoubtly one of the most powerful functionalities that Pandas brings to the table. However, most users only utilize a fraction of the capabilities of `groupby`.

`Groupby` allows to adopt a split-apply-combine approach to your data set. This is comparable to slicing and dicing your data such that it serves your specific need.

On a high level this means:
1. split the data based on column(s)/condition(s) into groups
2. apply a function/transformation to all the groups and combine the results into an output

# 0. Load the data

We are going to use data from a hypothetical sales division where we have, among other columns ficticious sales reps, order leads, order values, the company the deal might happen with and the date of the order lead.

In [ ]:
order_leads = pd.read_csv(
    'https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/order_leads.csv',
    parse_dates = [3]
)
sales_team = pd.read_csv(
    'https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/sales_team.csv',

)

In [ ]:
order_leads.sample(5)

In [ ]:
sales_team.sample(5)

In [ ]:
sales_team.columns

In [ ]:
order_leads.shape

In [ ]:
order_leads.info()

In [ ]:
sales_team.sample(5)

In [ ]:
sales_team.shape

In [ ]:
sales_team.columns

In [ ]:
sales_team[sales_team['Sales Rep'] == 'Christina Clark']

In [ ]:
order_leads.columns

In [ ]:
sales_team.columns

In [ ]:
print(sales_team.shape)
print(order_leads.shape)

In [70]:
df = pd.merge(order_leads,sales_team,on=['Company Id','Company Name'])
df.head()
# df.shape

,Order Id,Company Id,Company Name,Date,Order Value,Converted,Sales Rep,Sales Rep Id
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0,William Taylor,ZTZA0ZLYZR85PTUJ
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0,William Taylor,ZTZA0ZLYZR85PTUJ
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1,William Taylor,ZTZA0ZLYZR85PTUJ
3,N3EDZ5V1WGSWW828,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-06-03,1113,0,William Taylor,ZTZA0ZLYZR85PTUJ
4,QXBC8COXEXGFSPLP,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-07-26,4596,0,William Taylor,ZTZA0ZLYZR85PTUJ

In [ ]:
df.Converted.value_counts().values

In [ ]:
# plot the bar chart of the number of pitches successful and unsucessful.
plt.bar(x=['Unsucessful(0)','Sucessful(1)'],height=df.Converted.value_counts().values)
plt.title("Sales Pitch Succesful and Unsuccesful")
plt.xlabel("Sales Status")
plt.ylabel("Count of Sales Status")
plt.show()

In [ ]:
# plot the bar char of total order value of succ and unsucc pitch
total_order_value_1 = df[df.Converted==1]['Order Value'].sum()
total_order_value_0 = df[df.Converted==0]['Order Value'].sum()
plt.figure(figsize=(10,4))
plt.bar(x=['Total Order Value of Unsucessful Pitches','Total Order Value of Sucessful Pitches'], height=[total_order_value_0,total_order_value_1])
plt.show()

In [ ]:
df.Converted.value_counts()

In [ ]:
df.head(3)

In [ ]:
df.head(4)

In [ ]:
a = df.groupby('Converted')['Order Value'].sum()
a

In [ ]:
b = df.groupby('Converted')[['Order Value']].sum()
b

In [ ]:
print(a.values)
print(b.values)

In [ ]:
a=df.groupby("Converted")['Order Value'].agg(sum)
a

In [ ]:
plt.bar(x=['Converted', 'Non converted'],height=a.values)
plt.xlabel('Graph')

# 1. Groupby: Split the data based on condition/column into groups

The default approach of calling groupby, is by explicitly providing a column name to split the dataset by. However, and this is less known, you can also pass a Series (has to have the same length as the dataframe) to groupby.
This means that you can group by a processed version of a column, without having to create a new helper column for that.

### groupby sales rep
First let's create a grouped DataFrame, i.e. split the dataset up.

In [ ]:
df.head(2)

In [ ]:
df.groupby(['Sales Rep', 'Company Name', 'Converted']).first()

In [ ]:
df.groupby(['Sales Rep', 'Company Name', 'Converted']).first()

In [ ]:
# ended here

In [ ]:
df.head(3)

In [ ]:
df.groupby(['Sales Rep', 'Converted'])[['Order Value']].agg(['sum','count'])

In [ ]:
# ---ended here---

In [ ]:
grouped_by_sales_rep = df.groupby(['Sales Rep','Converted'])[['Order Value']]
grouped_by_sales_rep

In [13]:
# Sales rep having high sales
# df.groupby('Sales Rep',)['Order Value'].sum().sort_values(ascending=False)
converted = df.query('Converted == 1')
converted.groupby('Sales Rep',)['Order Value'].sum().sort_values(ascending=False)

Sales Rep
Margaret Lott         385993
Joyce Mitchell        379952
Thomas Huckabaa       371702
Gerry Meredith        361848
Allen Olding          358517
                       ...
Mary Brooks             8658
Debra Vermillion        7975
Joan Hutchins           4601
Beatrice Mccormick      3737
Richard Nicols           305
Name: Order Value, Length: 499, dtype: int64

In [14]:
non_converted = df.query('Converted == 0')
non_converted.groupby('Sales Rep')['Order Value'].sum().sort_values(ascending=False)

Sales Rep
Alyssa Mckinney      1910837
Elizabeth Gaddy      1868340
Jessica Renner       1845144
Fidel Carbo          1815170
Kimberly Robinson    1809367
                      ...
Robert Bowen           60738
Debra Vermillion       55958
Sierra Garcia          51600
Ginger Wright          48653
Simon Hearn            43030
Name: Order Value, Length: 499, dtype: int64

In [17]:
df.head()

,Order Id,Company Id,Company Name,Date,Order Value,Converted,Sales Rep,Sales Rep Id
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0,William Taylor,ZTZA0ZLYZR85PTUJ
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0,William Taylor,ZTZA0ZLYZR85PTUJ
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1,William Taylor,ZTZA0ZLYZR85PTUJ
3,N3EDZ5V1WGSWW828,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-06-03,1113,0,William Taylor,ZTZA0ZLYZR85PTUJ
4,QXBC8COXEXGFSPLP,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-07-26,4596,0,William Taylor,ZTZA0ZLYZR85PTUJ

In [23]:
df.groupby('Sales Rep')['Order Value'].sum().sort_values(ascending=False)

Sales Rep
Alyssa Mckinney     2172439
Jessica Renner      2161540
Elizabeth Gaddy     2147581
Christina Clark     2134452
Fidel Carbo         2115456
                     ...
Linda Thomas          81914
Ginger Wright         79366
Robert Bowen          70885
Debra Vermillion      63933
Simon Hearn           59732
Name: Order Value, Length: 499, dtype: int64

In [ ]:
df[df.Converted==1].groupby('Sales Rep')['Order Value'].sum().sort_values(ascending=False)

In [ ]:
df[df.Converted==1].groupby('Sales Rep')['Order Value'].agg([min,max,sum]).sort_values(ascending=False,by='max')

In [ ]:
grouped_by_sales_rep

### show all groups
calling `groups` on the grouped object returns the list of indices for every group (as every row can be uniquely identified via it's index)

In [ ]:
grouped_by_sales_rep = df.groupby(['Sales Rep','Converted'])['Order Value']
grouped_by_sales_rep

In [ ]:
grouped_by_sales_rep.groups

In [ ]:
len(grouped_by_sales_rep.groups)

### select a specific group

In [24]:
grouped_by_sales_rep.get_group(('Aaron Hendrickson', 0))

       Order Value
25612         1940
25613         2109
25615         3026
25616         5033
25618         5178
...            ...
25897          329
25898         1604
25901         4746
25902         6158
25903         2164

[246 rows x 1 columns]

For the following examples we will use the simplest version of the apply step (and just count the rows in each group) via the `size` method. We do this, so that we can focus on the groupby operations.

We will go into much more detail regarding the apply methods in section 2 of the article.

### Basic Example: Count rows in each group

In [ ]:
grouped_by_sales_rep.size().sort_values(ascending=False)

In [ ]:
df['Sales Rep'].value_counts()

### Advanced Example: Group by first name of sales rep

In [25]:
# Grouping by first name of our Sales Rep without creating a column
df.groupby(df['Sales Rep'].apply(lambda x: x.split(' ')[0])).size()

Sales Rep
Aaron        292
Adam         324
Adele        115
Adrian       369
Adrianna      37
            ...
Wesley       144
Wilbert      213
William     1393
Willie       448
Yvonne       141
Length: 318, dtype: int64

### Advanced Example:  Grouping by whether or not there is a "William" in the name of the rep

In [28]:
df['Sales Rep'].apply(lambda x: 'William' in x)

0         True
1         True
2         True
3         True
4         True
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: Sales Rep, Length: 100000, dtype: bool

In [34]:
df.groupby(df['Sales Rep'].apply(lambda x: 'Hendrickson' in x)).size()

Sales Rep
False    99708
True       292
dtype: int64

### Advanced Example: Group by random series (for illustrative purposes only)

In [ ]:
# Grouping random letters (obviously does not make sense)
df.groupby(
    pd.Series(np.random.choice(list('ABCDG'),len(df)))
).size()

### Advanced Example:  Grouping by 3 evenly cut "Order Value" buckets

In [ ]:
# qcut bins the passed Series into q evenly sized parts (and labels the bins)
df.groupby(
    pd.qcut(x=df['Val'],q=3,labels=['low','mid','high'])
).size()

### Advanced Example: Grouping by cutom "Order Value" buckets

In [ ]:
# cut bins the passed Series into defined bins
df.groupby(
    pd.cut(df['Val'],[0,3000,5000,7000,10000])
).size()

## `pd.Grouper`
The biggest "gotcha" in that area for me was understanding pd.Grouper, which allows seamless aggregation on different date/time granularities.

### Advanced Example: Grouping by year

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Order Id      100000 non-null  object
 1   Company Id    100000 non-null  object
 2   Company Name  100000 non-null  object
 3   Date          100000 non-null  datetime64[ns]
 4   Order Value   100000 non-null  int64
 5   Converted     100000 non-null  int64
 6   Sales Rep     100000 non-null  object
 7   Sales Rep Id  100000 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 6.1+ MB

In [41]:
df.sort_values(by='Date')

,Order Id,Company Id,Company Name,Date,Order Value,Converted,Sales Rep,Sales Rep Id
30043,ZKELVCXTAM6JP4QH,C7LWXDFJHU22LJ5X,Consonantal Greyhound,2014-01-01,1175,0,Joyce Mitchell,DPD59XRXB1EQETP6
70895,LMJU1YKWL7L0YNTS,6LK91GTMX7WE7WT9,Unrestricted Resolve,2014-01-01,9468,0,John Barger,ERU9FRGKUDXUVJC9
81937,K3SSVBA583Y06M7V,491QJU77ME9K26XN,Three-Man Parker,2014-01-01,550,0,Lauren Williams,SWTK8TI7H1N6R5TT
76826,ANCRFO037ZAK5SCC,R2B8SA2UAPE48A1P,Patristic Landmarks,2014-01-01,1029,1,Joshua Langston,JLFJTRVWBA2NY78N
71283,EE9731E90OA3KLD4,9WCS6SCG07DAZZXK,Inspiring Boastings,2014-01-01,4767,0,Jason Miller,7BN2XSEUSWLSMZSI
...,...,...,...,...,...,...,...,...
52851,LBBF05DNYD73W4N8,ES0RSAKBKNBAVAPX,Formidable Stratum,2018-12-31,1553,0,Ralph Jones,ACV8X6HRAICU5X9Y
9592,11EVU6PKO6U2528T,61SQIM6PNOYJ7VOQ,Poly-Unsaturated Closure,2018-12-31,1941,0,Michael Bishop,D413RSXQPBUN297Q
66837,LWWQXY0KP2J2JHYH,F98D5UFUAHIU2YWO,Channel-Type Flooring,2018-12-31,6343,0,John Hammock,BAR0BX3NLRDR7XIF
61890,FJ3LHNYA8N0OBE8R,WNIKGGYTDR0OFGVZ,Indecent Erlenmeyer,2018-12-31,8906,0,Myra Chronister,X9KZ0NO060W3AGG7
36548,SFMX30743C7LRPJZ,7D5PIVBJAZ3BFCRP,Outboard Aldermen,2018-12-31,6387,0,Kurt Smith,L9M9F0HQ0QAYVN94

In [63]:
df2 = pd.DataFrame(
   {
       "Publish date": [
            pd.Timestamp("2000-01-02"),
            pd.Timestamp("2000-01-02"),
            pd.Timestamp("2000-01-09"),
            pd.Timestamp("2000-01-16")
        ],
        "ID": [0, 1, 2, 3],
        "Price": [10, 20, 30, 40]
    }
)

In [67]:
df2

  Publish date  ID  Price
0   2000-01-02   0     10
1   2000-01-02   1     20
2   2000-01-09   2     30
3   2000-01-16   3     40

In [69]:
df2.groupby(pd.Grouper(key="Publish date", freq="Y")).agg('max')

/tmp/ipython-input-43384113.py:1: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  df.groupby(pd.Grouper(key="Publish date", freq="Y")).agg('max')

              ID  Price
Publish date
2000-12-31     3     40

In [44]:
pd.Grouper(key='Date',freq='Y')

/tmp/ipython-input-1080167584.py:1: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  pd.Grouper(key='Date',freq='Y')

TimeGrouper(key='Date', freq=<YearEnd: month=12>, axis=0, sort=True, dropna=True, closed='right', label='right', how='mean', convention='e', origin='start_day')

In [55]:
df[df['Date'].apply(lambda x: x == 2014-12-31)]

Empty DataFrame
Columns: [Order Id, Company Id, Company Name, Date, Order Value, Converted, Sales Rep, Sales Rep Id]
Index: []

In [62]:
df.sort_values(by='Date')

,Order Id,Company Id,Company Name,Date,Order Value,Converted,Sales Rep,Sales Rep Id
30043,ZKELVCXTAM6JP4QH,C7LWXDFJHU22LJ5X,Consonantal Greyhound,2014-01-01,1175,0,Joyce Mitchell,DPD59XRXB1EQETP6
70895,LMJU1YKWL7L0YNTS,6LK91GTMX7WE7WT9,Unrestricted Resolve,2014-01-01,9468,0,John Barger,ERU9FRGKUDXUVJC9
81937,K3SSVBA583Y06M7V,491QJU77ME9K26XN,Three-Man Parker,2014-01-01,550,0,Lauren Williams,SWTK8TI7H1N6R5TT
76826,ANCRFO037ZAK5SCC,R2B8SA2UAPE48A1P,Patristic Landmarks,2014-01-01,1029,1,Joshua Langston,JLFJTRVWBA2NY78N
71283,EE9731E90OA3KLD4,9WCS6SCG07DAZZXK,Inspiring Boastings,2014-01-01,4767,0,Jason Miller,7BN2XSEUSWLSMZSI
...,...,...,...,...,...,...,...,...
52851,LBBF05DNYD73W4N8,ES0RSAKBKNBAVAPX,Formidable Stratum,2018-12-31,1553,0,Ralph Jones,ACV8X6HRAICU5X9Y
9592,11EVU6PKO6U2528T,61SQIM6PNOYJ7VOQ,Poly-Unsaturated Closure,2018-12-31,1941,0,Michael Bishop,D413RSXQPBUN297Q
66837,LWWQXY0KP2J2JHYH,F98D5UFUAHIU2YWO,Channel-Type Flooring,2018-12-31,6343,0,John Hammock,BAR0BX3NLRDR7XIF
61890,FJ3LHNYA8N0OBE8R,WNIKGGYTDR0OFGVZ,Indecent Erlenmeyer,2018-12-31,8906,0,Myra Chronister,X9KZ0NO060W3AGG7
36548,SFMX30743C7LRPJZ,7D5PIVBJAZ3BFCRP,Outboard Aldermen,2018-12-31,6387,0,Kurt Smith,L9M9F0HQ0QAYVN94

In [71]:
df.groupby(pd.Grouper(key='Date',freq='Y')).agg('max')

/tmp/ipython-input-2917856675.py:1: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  df.groupby(pd.Grouper(key='Date',freq='Y')).agg('max')

,Order Id,Company Id,Company Name,Order Value,Converted,Sales Rep,Sales Rep Id
Date,,,,,,,
2014-12-31,ZZQU2PEEMTP2Q8TI,ZZJHXY1WGI1IXER2,Zodiacal Indigation,9999,1,Yvonne Lindsey,ZTZA0ZLYZR85PTUJ
2015-12-31,ZZY9LL1EADUJRP2P,ZZJHXY1WGI1IXER2,Zodiacal Indigation,9999,1,Yvonne Lindsey,ZTZA0ZLYZR85PTUJ
2016-12-31,ZZXKRBXVAU6EV73G,ZZJHXY1WGI1IXER2,Zodiacal Indigation,9999,1,Yvonne Lindsey,ZTZA0ZLYZR85PTUJ
2017-12-31,ZZQOEN3H1KT1C43U,ZZJHXY1WGI1IXER2,Zodiacal Indigation,9999,1,Yvonne Lindsey,ZTZA0ZLYZR85PTUJ
2018-12-31,ZZZLGTRNSTB4RI9O,ZZJHXY1WGI1IXER2,Zodiacal Indigation,9998,1,Yvonne Lindsey,ZTZA0ZLYZR85PTUJ

### Advanced Example: Grouping by quarter

In [72]:
# grouping by year
df.groupby(pd.Grouper(key='Date',freq='SM')).size()

/tmp/ipython-input-2912407041.py:2: FutureWarning: 'SM' is deprecated and will be removed in a future version, please use 'SME' instead.
  df.groupby(pd.Grouper(key='Date',freq='SM')).size()

Date
2013-12-31    761
2014-01-15    837
2014-01-31    820
2014-02-15    740
2014-02-28    817
             ...
2018-10-31    810
2018-11-15    805
2018-11-30    824
2018-12-15    837
2018-12-31     50
Freq: SME-15, Length: 121, dtype: int64

### Advanced Example: Grouping by multiple columns

In [ ]:
df.groupby(['Sales Rep','Company Name']).size()

# 2. Apply and Combine: Apply a function/transformation to all groups and combine the results into an output

In the previous section we discussed how to group the data based on various conditions. This section deals with available functions that we can apply to the groups before combining them to a final result.

The section is structured along how to use
1. apply,
2. agg(regate),
3. transform, and
4. filter,
on a grouped object.

If you are anything like me when I started using groupby, you are probably using a combination of 1. and 2. along the lines of:

`group = df.groupby('GROUP')` and then:
- `group.apply(mean)`
- `group.agg(mean)`
- `group['INTERSTING COLUMN'].apply(mean)`
- `group.agg({'INTERSTING COLUMN':mean})`
- `group.mean()`

Where `mean` could also be another function.

All of them work. And most of the time, the result is going to be roughly what you expected it to be. However, there are nuances to apply and agg that are worthwhile pointing out.

Additionally, but much more importantly there are two lesser-known extremly powerful functions that can be used on a grouped object, `filter` and `transform`.

### `Apply`: Let's get  `apply` out of the way
This is somewhat confusing, as we often talk about applying functions while there also is an apply function. But bear with me. The `apply` function applies a function along an axis of the DataFrame. This could be either column-wise or row-wise.
`apply` is not strictly speaking a function that can only be used in the context of groupby. It could also used on an entire dataframe, like in the following example.

In [ ]:
_ = pd.DataFrame(
    np.random.random((2,6)),
    columns=list('ABCDEF')
)
_

In [ ]:
_.apply(sum, axis=0) # axis=0 is default, so you can drop that

In [ ]:
_.apply(sum, axis=1)

But it can also be used in a groupby context. Which makes sense, considering the fact that each group is a smaller DataFrame on its own. Keep in mind that the function will be applied to the entire DataFrame. This means typically you want to select the columns you are `applying` a function to. We will leave it at these examples and instead focus on `agg(regation)` which is the "intended" way of aggregating groups.

In [ ]:
df.groupby(
    pd.Grouper(key='Date',freq='Y')
)['Sale'].apply(sum)

In [ ]:
df.groupby(
    pd.Grouper(key='Date',freq='Y')
)['Val','Sale'].apply(sum)

In [ ]:
df.groupby(
    pd.Grouper(key='Date',freq='Y')
)['Val','Sale'].apply(sum).to_clipboard(sep=' ')

# `agg(regate)`

In [ ]:
Image(filename='groupby-agg.png')

In [ ]:
# agg(regation)
df.groupby('Sales Rep')\
\
.agg({
    'Order Id':'size',
    'Val':['sum','mean'],
    'Sale':['sum','mean']
})

In [ ]:
def cr(x):
    return round(np.mean(x),2)

aggregation = {
    'Potential Sales':('Val','size'),
    'Sales':('Sale','sum'),
    'Conversion Rate':('Sale',cr)
}

df.groupby('Sales Rep').agg(**aggregation)

In [ ]:
def cr(x):
    return round(np.mean(x),2)

_ = df.groupby('Sales Rep').agg({
    'Val':'size',
    'Sale':['sum',cr]
})

_.columns = ['Potential Sales','Sales','Conversion Rate']
_

## Transform

In [ ]:
Image(filename='groupby-transform.png')

In [ ]:
df.groupby('Sales Rep')['Val'].transform(lambda x: x/sum(x))

In [ ]:
df['%'] = df.groupby('Sales Rep')['Val'].transform(
  lambda x: x/sum(x)
)

In [ ]:
del df['%']

In [ ]:
# filter (at least 200k in sales)
df.groupby('Sales Rep').filter(lambda x: (x['Val'] * x['Sale']).sum() > 200000)

In [ ]:
# Let's add this for verification
df['cr'] = df.groupby('Sales Rep')['Sale'].transform('mean')

df.groupby('Sales Rep').filter(lambda x: x['Sale'].mean() > .3)

In [ ]:
del df['cr']

# Advanced Examples Agg

In [ ]:
# Grouping by 3 evenly cut "Order Value" buckets
df.groupby(
    pd.qcut(df['Val'],3,['low','mid','high'])
).agg({'Val':['mean','std'],'Sale':['sum','size']})

In [ ]:
# Grouping by cutom "Order Value" buckets
df.groupby(
    pd.cut(df['Val'],[0,3000,5000,7000,10000])
).agg({'Val':['mean','std'],'Sale':['sum','size']})

In [ ]:
df.groupby(
    pd.cut(df['Val'],[0,5000,10000],labels=['low','high'])
).agg(
    **{'Conversion Rate':pd.NamedAgg(column='Sale',aggfunc=lambda x: sum(x)/len(x))}
)

In [ ]:
# grouping by year and a cut oder value column
df.groupby(
    [pd.Grouper(key='Date',freq='Y'),pd.qcut(df['Val'],3,['low','mid','high'])]
).agg(
    **{'Conversion Rate':pd.NamedAgg(column='Sale',aggfunc=lambda x: sum(x)/len(x))}
).unstack()

https://leetcode.com/problems/count-salary-categories/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata